body {
  width: 960px;
  margin: auto;
}

h1 {
  text-align: center;
}

aside {
  width: 260px;
  display: inline-block;
}

section {
  width: 700px;
  display: inline-block;
  float: right;
}

div.col1 {
  width: 230px;
  display: inline-block;
}

div.col2 {
  width: 230px;
  display: inline-block;
}

div.col3 {
  width: 230px;
  display: inline-block;
}
