* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
 
}

nav a {
  margin: 10px;
}
