* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: blueviolet;
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
div:first-child {
  background-color: red;
  width: 200px;
  height: 200px;
  position: absolute;
}
div:last-child {
  background-color: yellow;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
article:hover div:first-child {
  transition: all 1s;
  transform: translateX(200px);
}
