*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    border: 1px dashed black;
    position: relative;
}
section div{
    position: absolute;
    text-align:center;
    padding-top: 30px;
}

div:first-child{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(238, 77, 101);
    background-color: pink;
    left: 50px;
    top: 50px;
    z-index: 1;
}
div:last-child{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(216, 181, 24);
    background-color: rgb(255, 249, 192);
    right: 50px;
    bottom: 50px;
}
div:nth-child(2){
    width: 100px;
    height: 100px;
    border: 1px solid rgb(206, 33, 10);
    background-color: rgb(255, 111, 92);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}