
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
  background-color: aqua;
  display: flex;
}
main {
  display: flex;
}
aside{
    background-color: violet;
    width: 30%;  
}

.nav nav {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
section{
    background-color: blue;
    width: 70%;
}
.articles {
  
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}
.caja-articles{
    background-color: white;
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
}
footer{
    background-color: tomato;
}
@media (max-width:1500px){
    section{
        background-color: yellow ;
        width: 60%;
    }
    aside{
        background-color: yellowgreen;
        width: 40%;
    }
    section, aside{
        padding: 20px 20px;
    }
}
@media (max-width:880px){
    section, aside{
        background-color: blueviolet;
        width: 50%;
    }
}
@media (max-width:380px){
    header{
        background-color: tomato;
        flex-direction: column;
        align-items: center;
    }
    section{
        width: 100%;
    }
    aside{
        display: none;
    }
}